<!DOCTYPE html>
<html>
<head>
  <title>Elysium core</title>
  <%= stylesheet_link_tag    "elysium/core/application", media: "all" %>
  <%= javascript_include_tag "elysium/core/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
